# ignore files
# we just have two files test and train both are cvs
**.csv
#**.txt
**.json
**.jpg
**.pickle
**logs
**dracula**
# this last one is just in case. Maybe, I will save some models in GitHub like computer vision 
**.keras
.ipynb_checkpoints
.**desafio
.**Reinforcement